html,body,#app {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}